@import "src/variables";

.title {
  font-family: 'Bacasime Antique', serif;
  font-weight: bolder;
  color: $primary-theme-color;
  font-size: 4em;
  margin-bottom: 50px;
}

.sub-baseline {
  font-size: 1.2em;
  margin-bottom: 30px;
}
