<div class="chat-display mb-4 p-3">
  <ng-container *ngIf="user">
    <div *ngFor="let message of reverseIt(currentMessages); let index = index" class="chat-msg-item-container mb-3">
      <div class="msg-details">
        <div class="msg-content d-flex flex-column align-items-start" [ngClass]="{'just-end': slug === toString(message.owner), 'txt-align-right': slug === toString(message.owner) }" pe-2 ps-2>
          <p class="m-0">{{ message.content }}</p>
          <div class="msg-createdAt" [ngClass]="{'just-end': user.slug === toString(message.owner) }">{{ message.createdAt | date:"dd-MM-yyyy hh:mm:ss" }}</div>
        </div>
      </div>
    </div>
    <!-- <div class="chat-msg-item-container justify-content-end">
      <span class="bg-white pe-2 ps-2">{{message.content}}</span>
    </div> -->
  </ng-container>
</div>
