@import "src/variables.scss";

$brd-radius: 10px;
$border-clr: rgb(48, 85, 52);
$bgcolor: grey;

.chat-display {
  width: 100%;
  min-height: 320px;
  max-height: 400px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;
  overflow-y: scroll;
}

.chat-msg-item-container {
  width: 100%;
}

.msg-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: end;
}

.msg-content {
  margin-bottom: 3px;
}

.msg-content p {
  width: 50%;
}

.msg-dayMonth {
  text-align: center;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.msg-createdAt {
  text-align: end;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.txt-align-right {
  text-align: right !important;
}

.just-end {
  align-items: end !important;
}
