@import "src/variables.scss";


.chat-display {
  width: 100%;
  min-height: 320px;
  max-height: 400px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;
  overflow-y: scroll;
  background-color: $secondary-theme-color;
}

.chat-msg-item-container {
  width: 100%;
}

.msg-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: end;
}

.receiver, .sender {
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 10px;

}

.receiver {
  background-color: $light-primary-theme-color;
}

.sender {
  background-color: $light-primary-theme-color-2;
}

.msg-content {
  margin-bottom: 3px;
}

.msg-content p {
  width: 50%;
  text-align: justify;
}

.msg-dayMonth {
  text-align: center;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.msg-createdAt {
  text-align: end;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.txt-align-right {
  text-align: right !important;
}

.just-end {
  align-items: end !important;
}
