<header class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand fs-2 fw-bold company-title" routerLink="">SkillSwap</a>
      <div class="collapse navbar-collapse flex-grow-0 text-center" id="navbarsExample05">
          <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="add-course" href="sin">+</a>
              </li>
              <li class="nav-item">
                <a *ngIf="status === 'connected'" routerLink="my-space/{{userSlug}}" class="personnal-space-btn">Mon espace</a>
              </li>
              <li class="nav-item">
                <a *ngIf="status === 'connected'" routerLink="" (click)="logout()"><span class="deconnexion-btn">Déconnexion</span></a>
                <a *ngIf="status === 'disconnected'" routerLink="signup"><span class="connexion-btn">Connexion</span></a>
              </li>
          </ul>
      </div>
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</header>
