$primary: #0C5051;
$primaryWithTransparancy: #0c50516c;
$hover: #117375;

* {
  list-style: none;
  text-decoration: none;
}

a {
  color: $primary;
}

a:hover {
  color: $hover;
}

.custom-cards {
  background-color: rgb(255, 255, 255);
  width: 30%;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin: 10px;
  border-radius: 50px;
  height: auto;
  justify-content: center;
  align-items: center;
  border: 2px solid $primary;
  border-bottom: 10px solid $primary;
}

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.custom-card img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 49px;
}


.text-bloc {
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.main-container {
  margin-top: 100px;
}


