$primary: #0C5051;
$primaryWithTransparancy: #0c50516c;
$hover: #117375;

* {
  list-style: none;
  text-decoration: none;
}

a {
  color: $primary;
}

a:hover {
  color: $hover;
}

.custom-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 25%;
  margin: 15px;
  border: 1px solid $primary;
  border-bottom: 10px solid $primary;
}


.text-bloc {
  /* background-color: #0c50517d; */
}

.main-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}


