@import "src/variables.scss";


.custom-container {
  display: flex;
}

.title {
  font-family: $main-title;
  font-weight: bolder;
  color: $primary-theme-color;
  font-size: $intermediate-title-size;
}

.how-to-learn {
  margin: 20px 0px 20px 0px;
}

.visio, .irl {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-theme-color;
  width: 17vw;
  margin: 15px;
  border-radius: 50px;
  border: 1px solid $primary-theme-color;
}

.logo {
  width: 10%;
  margin: 10px;
}

.description-title {
  font-family: $main-title;
  font-weight: bolder;
  color: $primary-theme-color;
  font-size: $small-title-size;
  margin-bottom: 15px;
}

.description {
  text-align: justify;
}

.booking-date-container {
  margin-top: 50px;
  width: 100%;
}

.toggle-btn {
  background-color: $primary-theme-color;
  color: $secondary-theme-color;
  border: none;
  padding: 12px;
  border-radius: $button-radius;
  margin: 10px 0px 10px 10px;
}

.price-button {
  background-color: $secondary-theme-color;
  border: 2px solid $primary-theme-color;
  color: $primary-theme-color;
  padding: 12px;
  border-radius: $button-radius;
  margin: 10px 0px 10px 10px;
}

.price-button:hover {
  cursor: auto;
}

.toggle-btn-focus {
  color: $primary-theme-color;
  background-color: $secondary-theme-color;
  border: 2px solid $primary-theme-color;
}

.language-custom {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 10px 0px;
}

.language-span {
  font-family: $main-title;
  font-size: 24px;
  color: $primary-theme-color;
  border-bottom: 1px solid $primary-theme-color;
}

.sheet-description {
  margin-top: 20px;
}

.sheet-card {
  width: 60%;
}

.main-card {
  position: sticky;
  display:flex;
  justify-content: end;
  align-items: center;
  width: 40%;
}

.user-card {
  width: 60%;
  min-width: 300px;
  height: 70%;
  min-height: 415px;
  padding: 30px;
  color: $primary-theme-color;
  background-color: $secondary-theme-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 2px 40px $primary-theme-color-transparancy;
}

.user-picture {
  border-radius: 20px;
}

.user-name {
  font-family: $main-title;
  font-size: $sub-title-size;
  padding-top: 30px;
}

.contact-btn {
  background-color: $primary-theme-color;
  border: none;
  padding: 17px 40px 17px 40px;
  border-radius: 15px;
  margin: 10px 0px 10px 10px;
}

@media screen and (max-width: 1020px) {
  .custom-container {
    flex-direction: column-reverse;
  }

  .main-card {
    width: 100%;
    justify-content: center;
  }

  .user-card {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    background-color: $transpancy;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .sheet-card {
    width: 100%;
  }

  .user-name {
    font-size: $intermediate-title-size-860px;
  }
}

@media screen and (max-width: 860px) {
  .title {
    font-size: $intermediate-title-size-860px;
  }

  .description-title {
    font-size: $small-title-size-860px;
  }

  .container-custom {
    flex-direction: column-reverse;
  }

  .description-title {
    font-size: $small-title-size-860px;
  }

  .user-name {
    font-size: $text-big-size-860px;
  }
}

@media screen and (max-width: 412px) {
  .description-title {
    font-size: $small-title-size-412px;
  }

}
