$primary: #0C5051;
$primaryWithTransparancy: #0c50516c;
$hover: #117375;

.main-container {
  margin-top: 100px;
}

.booking-date-container {
  width: 50%;
}

.title {
  font-family: 'Bacasime Antique', serif;
  font-weight: bolder;
  color: $primary;
  font-size: 4em;
  margin-bottom: 50px;
}

.visio, .irl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px 100px 10px 100px;
  margin: 30px;
  border-radius: 50px;
  border: 1px solid #11737580;
}
.test {
  font-size: 1.2vw;
}
.logo {
  width: 15%;
  background-color: aqua;
}
