<div *ngIf="sheet" class="main-container">
  <h5 class="display-6 title">{{sheet.title}}</h5>
  <div>
    <div class="d-flex">
      <div *ngIf="sheet.irl">
        <div class="irl">
          <img src="./assets/parlant.png" alt="" class="logo">
          <p class="test">{{ sheet.user.district }} - {{ sheet.user.city }}</p>
        </div>
      </div>
      <div *ngIf="sheet.visio" class="visio">
        <img src="./assets/webcam.png" alt="" class="logo">
        <p>Webcam</p>
      </div>
    </div>
  </div>

  <h5>À propos de {{ sheet.user.firstname}}</h5>
  <p>{{ sheet.user.description }}</p>
  <h5>À propos du cours</h5>
  <p>{{ sheet.language }}</p>
  <p>{{ sheet.description }}</p>
  <div class="booking-date-container">
    <app-form-date></app-form-date>
  </div>

</div>



