@import "src/variables.scss";

input::placeholder {
  font-style: italic;
  font-size: 0.9em;
}

.search-bar {
  text-align: center;
}

.search-bar input {
  height: 60px;
  width: 100%;
  border: 2px solid $primary-theme-color;
  border-radius: 20px;
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
  outline:none;
}

.search-bar input:focus {
  outline:none
}

.form-control:focus {
  border-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0), 0 0 8px rgba(255, 255, 255, 0);
}

.search-btn {
  color: $secondary-theme-color;;
  background-color: $primary-theme-color;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-btn:hover {
  background-color: $primary-theme-hover;
}

.search-result {
  border: 2px solid $primary-theme-color;
  background-color: $primary-theme-color;
  border-bottom: none;
  border-top: none;
  padding: 10px;
}

.search-result:hover {
  background-color: $primary-theme-hover;
}

.search-result:first-of-type {
  margin-top: 10px;
  border-top: 2px solid $primary-theme-color;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.search-result:last-child {
  border-bottom: 2px solid $primary-theme-color;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

a {
  text-decoration: none;
  color: $secondary-theme-color;;
  padding: 15px;
}
