/* You can add global styles to this file, and also import other style files */
$primary: #4fa2a4;

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Mansalva&family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(#BCF4F5, #ffffff);
  background-repeat: no-repeat;
}

.custom-container {
  width: 65%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
