/* You can add global styles to this file, and also import other style files */
@import "src/variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Mansalva&family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient($light-primary-theme-color, #ffffff);
  background-repeat: no-repeat;
}

.company-title {
  font-family: 'Mansalva', cursive;
  color: $primary-theme-color;
}
