$primary-theme-color: #0c5051;
$primary-theme-hover: #117375;
$primary-theme-color-transparancy: #0c50516c;
$light-primary-theme-color: #BCF4F5;

$secondary-theme-color: #ffffff;
$secondary-theme-color-transparancy: #ffffffe0;

$danger-theme-color: rgb(172, 26, 0);
$danger-theme-hover: rgb(214, 32, 0);

$disable-button-color: lightgrey;
