/* THEME COLOR */

$primary-theme-color: #0c5051;
$primary-theme-hover: #117375;
$primary-theme-color-transparancy: #0c50516c;
$light-primary-theme-color: #BCF4F5;

$secondary-theme-color: #ffffff;
$secondary-theme-color-transparancy: #ffffffe0;

$danger-theme-color: rgb(172, 26, 0);
$danger-theme-hover: rgb(214, 32, 0);

$disable-button-color: lightgrey;

$pack-theme-color: #F4BD0D;
$transpancy: #ffffff00;


/* BUTTON DESIGN */

$button-padding: 12px 30px 12px 30px;
$button-radius: 20px;

/* FONTS */

$main-title: 'Bacasime Antique', serif;
$main-title-size: 5.2vw;
$main-title-size-860px: 7.4vw;

$intermediate-title-size: 5vw;
$intermediate-title-size-860px: 4.6vw;

$sub-title-size: 2vw;
$sub-title-size-860px: 2.4vw;

$small-title-size: 2.4vw;
$small-title-size-860px: 3vw;

$text-big-size-860px: 6vw;
