<div class="d-flex ">
  <div class="messenger-list d-flex flex-column me-3 pt-2 pe-3 pb-2 ps-2">
    <ng-container *ngIf="user">
      <div *ngFor="let conv of userParticipants; let index = index" (click)="getMessagesByConversation(conv.conversation.id)" [ngClass]="{'message-info-selected': conv.conversation.id === currentConvId}" class="message-info mb-2 pt-1 p pe-2 pb-1 ps-2" tabindex="{{ index }}">
        <app-messenger-list-detail [conversationId]="conv.conversation.id" [currentUser]="user"></app-messenger-list-detail>
      </div>
    </ng-container>
  </div>
  <div class="messenger-chat d-flex flex-column ps-3">
    <app-messenger-chat [currentMessages]="currentMessages" [sheetDetails]="sheetDetails"></app-messenger-chat>
    <app-messenger-send-form [currentConversationId]="currentConvId"> </app-messenger-send-form>
  </div>
</div>
