<div class="container-fluid d-flex flex-column align-items-center">

  <div class="d-flex justify-content-between top-row">

    <div class="custom-card position-relative">
      <img src="./assets/home_picture_1.png" alt="teacher_picture">
      <div class="position-absolute top-100 start-50 translate-middle bloc-presentation">
        <p class="custom-name">Damien
          <br>
          <span class="custom-lesson">Batteur</span>
        </p>
      </div>
    </div>

    <div class="custom-card position-relative">
      <img src="./assets/home_picture_3.png" alt="teacher_picture">
      <div class="position-absolute top-100 start-50 translate-middle bloc-presentation">
        <p class="custom-name">Roland
          <br>
          <span class="custom-lesson">Chef cuisinier</span>
        </p>
      </div>
    </div>

  </div>

  <div class="custom-card bottom-row position-relative">
    <img src="./assets/home_picture_2.png" alt="teacher_picture">
    <div class="position-absolute top-100 start-50 translate-middle bloc-presentation">
      <p class="custom-name">Christopher
        <br>
        <span class="custom-lesson">Développeur</span>
      </p>
    </div>
  </div>

</div>
