<ng-container *ngIf="category">
  <h1 class="title">Les cours de {{ category.name | lowercase }}</h1>

  <div class="row">
    <div *ngFor="let sheet of sheets" class="custom-cards container-fluid">
      <a routerLink="/{{ sheet.slug }}">
        <div class="custom-card col">
          <div class="username position-relative container-fluid">
            <ng-container *ngIf="sheet.imageURL;then imageURL else noPic"></ng-container>
            <ng-template #imageURL>
              <img src="{{ sheet.imageURL }}" alt="" class="img-fluid"/>
            </ng-template>
            <ng-template #noPic>
              <img src="https://source.unsplash.com/random/400x400/?{{ category.name }}" alt="" class="img-fluid"/>
            </ng-template>
            <p class="h2 name position-absolute top-0 start-0">{{ sheet.user.firstname }}</p>
          </div>
          <div class="text-bloc container-fluid">
            <p class="sheet-category">{{ category.name }}</p>
            <p class="sheet-title">{{ sheet.title }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</ng-container>
<!-- <button type="button" class="btn btn-primary custom-btn" (click)="goBack()">Retour</button> -->
