<ng-container *ngIf="category">
  <h1>Les professeurs de {{ category.name | lowercase}}</h1>

<div *ngFor="let sheet of sheets">
    <div *ngIf="category.id == sheet.category.id">
    <a routerLink="/{{ sheet.slug }}">{{ sheet.title }}</a>
  </div>

  <div *ngIf="category.isParent && category.id == sheet.category.parent.id">
    <a routerLink="/{{ sheet.slug }}"> {{ sheet.title }}</a>
  </div>

</div>


</ng-container>


<!-- <button type="button" class="btn btn-primary custom-btn" (click)="goBack()">Retour</button> -->
