@import "src/variables.scss";


* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a {
  color: $primary-theme-color;
}

a:hover {
  color: $primary-theme-hover;
}


.custom-cards {
  justify-content: center;
  align-items: center;
  background-color: $secondary-theme-color;
  width: 30%;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0px 2px 40px $primary-theme-color-transparancy;
}

.name {
  transform: translate(20%, -30%);
  color: $secondary-theme-color;
  font-weight: bolder;
  font-size: 1.5vw;
  transform: translate(30%, 30%);
  background-color: $primary-theme-color-transparancy;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.sheet-title {
  font-size: 1.3vw;
  border-bottom:1px solid $primary-theme-color;
}

.sheet-category {
  font-size: 0.9vw;
}

.custom-card img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}

.text-bloc {
  height: 100px;
  padding: 20px;
  margin-top: 10px;
  width: 100%;
}


.main-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}


.title {
  font-family: 'Bacasime Antique', serif;
  font-weight: bolder;
  color: $primary-theme-color;
  font-size: 4em;
  margin-top: 25px;
  margin-bottom: 25px;
}
