<ng-container *ngIf="user">
  <h2 class="title">Mon espace</h2>
  <div class="row align-items-center">
    <div class="col float-start">
      <div class="d-flex align-items-center text-and-img">
        <span class="sub-title">Informations personnelles</span>
        <img
          src="assets/data.png"
          alt="personal-data"
          width="30"
          class="decoration-img"
        />
      </div>
      <div class="custom-table">
        <table class="table">
          <tr>
            <th>Prénom :</th>
            <td class="float-end">
              {{ user.firstname }}
            </td>
          </tr>
          <tr>
            <th>Nom :</th>
            <td class="float-end">
              {{ user.lastname }}
            </td>
          </tr>
          <tr>
            <th>Département :</th>
            <td class="float-end">
              {{ user.district }}
            </td>
          </tr>
          <tr>
            <th>Ville :</th>
            <td class="float-end">
              {{ user.city }}
            </td>
          </tr>
          <tr>
            <th>Email :</th>
            <td class="float-end">
              {{ user.email }}
            </td>
          </tr>
          <tr>
            <th>Téléphone :</th>
            <td class="float-end">
              {{ user.phone }}
            </td>
          </tr>
        </table>
      </div>

      <div class="custom-description">
        <div class="d-flex align-items-center text-and-img">
          <span class="sub-title alignement">À Propos</span>
          <img
            src="assets/bulle.png"
            alt="about"
            width="30"
            class="decoration-img"
          />
        </div>

        <span>{{ user.description }}</span>
      </div>

      <a
        [routerLink]="['/update', user.slug]"
        class="btn col-12 mt-4 mb-4 custom-button"
        >Modifier mes infos</a
      >
    </div>

    <div class="col">
      <div
        class="d-flex flex-column token-card align-items-center justify-content-center float-end"
      >
        <div
          class="text-center d-flex align-items-center justify-content-center text-and-img"
        >
          <span class="sub-title"
            >Historique de mes <br />SkillTokens<img
              src="assets/jetons.png"
              alt="token"
              width="30"
              class="decoration-img"
          /></span>
        </div>
        <div class="d-flex flex-column">
          <span class="user-description"
            >Fortune actuelle : {{ user.tokken }} TokenSwap</span
          >
          <span class="user-description">Jetons gagnés : </span>
          <span class="user-description">Jetons dépensés : </span>
          <a
            [routerLink]="['/tokken', user.slug]"
            class="btn col-12 mt-4 mb-4 custom-button"
            >Acheter des SkillTokens</a
          >
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2 class="title">Mes cours</h2>

    <div>
      <table class="table table-transparent">
        <thead>
          <tr>
            <th>Titre</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let sheet of sheets">
          <tr *ngIf="sheet.user.id == user.id">
            <td class="align-middle">
              <a class="link-to-sheet" routerLink="/{{ sheet.slug }}">{{
                sheet.title
              }}</a>
            </td>
            <td class="text-center">
              <button
                class="custom-button m-1"
                [routerLink]="['/sheet-update', sheet.slug]"
              >
                Modifier
              </button>
              <button
                class="delete-btn m-1"
                (click)="kill('sheets', sheet.slug)"
              >
                Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col">
        <h2 class="title">J'enseigne</h2>
        <div>
          <table class="table table-transparent">
            <thead>
              <tr>
                <th>id</th>
                <th>Titre</th>
                <th>Padawan</th>
                <th>Date</th>
                <th class="text-center">Confirmation</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let lesson of lessons">
              <tr *ngIf="lesson.sheet.user.id == user.id">
                <td class="align-middle">
                  {{ lesson.id }}
                </td>
                <td class="align-middle">
                  <a
                    class="link-to-sheet"
                    routerLink="/{{ lesson.sheet.slug }}"
                  >
                    {{ lesson.sheet.title }}
                  </a>
                </td>
                <td class="align-middle booking-text">
                  {{ lesson.user.firstname }}
                </td>
                <td class="align-middle booking-text">
                  {{ lesson.bookingDate | date }}
                </td>
                <td class="align-middle text-center">
                  <input
                    type="checkbox"
                    (click)="masterCheck(lesson)"
                    [checked]="lesson.masterValidate"
                    [disabled]="canValidate(lesson, 'MASTER')"
                  />
                </td>
                <td class="text-center">
                  <button
                    class="delete-btn"
                    (click)="kill('lessons', lesson.id)"
                    [disabled]="canValidate(lesson, 'DELETE')"
                  >
                    Annuler
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col">
        <h2 class="title">J'apprends</h2>
        <div>
          <table class="table table-transparent">
            <thead>
              <tr>
                <th>id</th>
                <th>Titre</th>
                <th>Maître</th>
                <th>Date</th>
                <th class="text-center">Validation</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let lesson of lessons">
              <tr *ngIf="lesson.user.id == user.id">
                <td class="align-middle">
                  {{ lesson.id }}
                </td>
                <td class="align-middle">
                  <a
                    class="link-to-sheet"
                    routerLink="/{{ lesson.sheet.slug }}"
                  >
                    {{ lesson.sheet.title }}
                  </a>
                </td>
                <td class="align-middle booking-text">
                  {{ lesson.sheet.user.firstname }}
                </td>
                <td class="align-middle booking-text">
                  {{ lesson.bookingDate | date }}
                </td>
                <td class="text-center">
                  <button
                    class="custom-button"
                    (click)="padawanCheck(lesson)"
                    [disabled]="canValidate(lesson, 'PADAWAN')"
                  >
                    Payer
                  </button>
                </td>
                <td class="text-center">
                  <button
                    class="delete-btn"
                    (click)="kill('lessons', lesson.id)"
                    [disabled]="canValidate(lesson, 'DELETE')"
                  >
                    Annuler
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <button class="custom-button me-3" (click)="gotoMessages(user.slug)">
    Ma Messagerie
  </button>
  <button class="delete-btn float-end" (click)="kill('users', user.slug, true)">
    Supprimer le compte
  </button>
</ng-container>
