<ng-container *ngIf="user" [formGroup]="killForm">
  <h2>Mes infos</h2>
  <button (click)="kill('users',user.slug,true)"> supprimer le compte </button>
  <p>{{ user.firstname }} {{ user.lastname }}</p>
  <p> {{ user.email }}</p>
  <p>{{ user.district }} - {{ user.city }}</p>
  <p> {{ user.description }}</p>

  <h2>Mes cours</h2>

  <div *ngFor="let sheet of sheets">
    <div *ngIf="sheet.user.id == user.id">
      <a routerLink="/{{ sheet.slug }}">{{ sheet.title }}</a>
      <button (click)="kill('sheets',sheet.slug)"> Delete </button>
    </div>
  </div>

  <h2>Mes réservations</h2>

  <div *ngFor="let lesson of lessons">
    <div *ngIf="lesson.user.id == user.id">
      <a routerLink="/{{lesson.sheet.slug}}">{{lesson.sheet.title}}</a>
      <button (click)="kill('lessons',lesson.id)"> Delete </button>
      <p>avec {{ lesson.sheet.user.firstname}}</p>
      <p>Le {{lesson.bookingDate | date }}</p>
    </div>
  </div>
</ng-container>
