@import "src/variables.scss";

.title {
  font-family: 'Bacasime Antique', serif;
  font-weight: bolder;
  color: $primary-theme-color;
  font-size: 4vw;
  margin-top: 12px;
  margin-bottom: 12px;
}

.toggle-btn {
  cursor: pointer;
}

.user-description {
  text-align: justify;
}

.link-to-sheet {
  color: $primary-theme-color;
  text-decoration: none;
}

.delete-btn,
.custom-button {
  border: none;
  color: $secondary-theme-color;;
  padding: $button-padding;
  border-radius: $button-radius;
}

.custom-button {
  background-color: $primary-theme-color;
}

.custom-button:hover {
  background-color: $primary-theme-hover;
}

.delete-btn {
  background-color: $danger-theme-color;
}

.delete-btn:hover {
  background-color: $danger-theme-hover
}

.delete-btn:disabled,
.custom-button:disabled{
  background-color: $disable-button-color;
}

.booking-text {
  color: $primary-theme-color;
}

.sub-title {
  font-size: 2vw;
  font-weight: bolder;
  font-family: 'Mansalva', cursive;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.decoration-img {
  margin-left: 10px;
}

.alignement {
  text-align: justify;
}

.token-card {
  background-color: $secondary-theme-color;;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-data {
  width: 50%;
}

.skilltoken {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  width: 400px;
  height: 400px;
  background-color: $secondary-theme-color;
  border-radius: 50%;
}

.skillfortune {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1020px) {
  .custom-container {
    flex-direction: column;
  }

  .user-data {
    width: 100%;
  }

  .skilltoken {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
