$primary: #0C5051;
$primaryWithTransparancy: #0c50516c;
$hover: #117375;
$disabled: lightgrey;

.title {
  font-family: 'Bacasime Antique', serif;
  font-weight: bolder;
  color: $primary;
  font-size: 4vw;
  margin-top: 12px;
  margin-bottom: 12px;
}

.toggle-btn {
  cursor: pointer;
}

.user-description {
  text-align: justify;
}

.table-transparent {
  background-color:blue;
}

.link-to-sheet {
  color: $primary;
  text-decoration: none;
}

.delete-btn,
.custom-button {
  border: none;
  color: white;
  padding: 8px 30px 8px 30px;
  border-radius: 15px;
}

.custom-button {
  background-color: $primary;
}

.delete-btn {
  background-color: rgb(172, 26, 0);
}

.custom-button:hover {
  background-color: $hover;
}

.delete-btn:hover {
  background-color: rgb(214, 32, 0);
}

.delete-btn:disabled,
.custom-button:disabled{
  background-color: $disabled;
}

.booking-text {
  color: $primary;
}

.text-and-img {
  padding: 15px 0px 15px 0px;

}

.sub-title {
  font-size: 2vw;
  font-weight: bolder;
  font-family: 'Mansalva', cursive;
}

.decoration-img {
  margin-left: 10px;
}

.alignement {
  text-align: justify;
}

.token-card {
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}
