<div class="container-fluid position-relative" style="height: 70vh;">
  <div class="card position-absolute top-50 start-50 translate-middle minWidthLoginCard" [ngClass]="{ 'w-50' : getScreenWidth < 1000}" [ngClass]="{ 'w-100' : getScreenWidth < 1000}">
    <div class="card-body">
      <div class="container text-center mt-5">
        <p>Window width: <strong>{{ getScreenWidth }}</strong></p>
        <p>Window height: <strong>{{ getScreenHeight }}</strong></p>
      </div>
      <form class="d-flex flex-column" [formGroup]="loginForm">
        <label for="email" class="form-label">Email*</label>
        <input type="email" id="email" class="form-control" name="userEmail" formControlName="userEmail">
        <label for="password" class="form-label">Mot de passe*</label>
        <input type="password" id="password" class="form-control"  name="userPassword" formControlName="userPassword">
        <button class="btn btn-dark mt-3" type="submit" (click)="login()" [disabled]="loginForm.invalid">Connexion</button>
      </form>
    </div>
  </div>
</div>
