<div class="container-fluid position-relative" style="height: 70vh;">
  <form class="d-flex flex-column" [formGroup]="loginForm">

    <div class="card position-absolute top-50 start-50 translate-middle minWidthLoginCard" [ngClass]="{ 'w-50' : getScreenWidth < 1000}" [ngClass]="{ 'w-100' : getScreenWidth < 1000}">

      <div class="card-header">
        <div class="container text-center mt-3">
          <p class="fw-bolder h5">Welcome to <span class="h4 fw-bolder company-title">SkillSwap</span></p>
        </div>
      </div>

      <div class="card-body">

        <div class="mb-3">
          <label for="email" class="form-label">Email*</label>
          <input type="email" id="email" class="form-control" name="userEmail" formControlName="userEmail" placeholder="admin@admin.com">
          <div class="invalid-feedback" *ngIf="email.touched && email.invalid && email.errors">
            <ng-container *ngIf="email.errors['required']">
              eMail is needed !
            </ng-container>
            <ng-container *ngIf="email.errors['email']">
              Bad email
            </ng-container>
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe*</label>
          <input type="text" id="password" class="form-control" name="userPassword" formControlName="userPassword" placeholder="Password0">
          <div class="invalid-feedback" *ngIf="password.touched && password.invalid && password.errors">
            <ng-container *ngIf="password.errors['required']">
              Password is needed !<br>
            </ng-container>
            <ng-container *ngIf="password.errors['minLength']">
              Le mot de passe doit contenir au moins 8 caractères.<br>
            </ng-container>
            <ng-container *ngIf="password.errors['uppercase']">
              Le mot de passe doit contenir au moins une majuscule.<br>
            </ng-container>
            <ng-container *ngIf="password.errors['lowercase']">
              Le mot de passe doit contenir au moins une minuscule.<br>
            </ng-container>
            <ng-container *ngIf="password.errors['digits']">
              Le mot de passe doit contenir au moins un chiffre.<br>
            </ng-container>
            <ng-container *ngIf="password.errors['special']">
              Le mot de passe doit contenir au moins un caractère spécial.
            </ng-container>
          </div>
        </div>

      </div>

      <div class="card-footer w-100 mt-3">
        <button class="btn btn-dark mt-3 w-100 mb-3" type="submit" (click)="login()" [disabled]="loginForm.invalid">Connexion</button>
      </div>

    </div>
  </form>
</div>
