@import "src/variables.scss";

.text-bloc {
  display: flex;
  flex-direction: column;
  background-color: $secondary-theme-color;
  border-radius: 20px;
  width: 60%;
  padding: 10px;
  box-shadow: 0px 3px 40px $primary-theme-color-transparancy;
}

.text-name {
  font-size: 1.2vw;
}

.text-cat {
  font-size: 1vw;
}

@media screen and (max-width: 860px) {
  .bottom-row-responsive {
    display: none;
  }
}
