$primary: #0C5051;
$primaryWithTransparancy: #0c50516c;
$hover: #117375;

.text-bloc {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 60%;
  padding: 10px;
  box-shadow: 0px 3px 40px $primaryWithTransparancy;
}

.text-name {
  font-size: 1.2vw;
}

.text-cat {
  font-size: 1vw;
}

@media screen and (max-width: 820px) {
  .bottom-row-responsive {
    display: none;
  }
}
