<div class="container">
  <div class="row top-row-responsive">
    <div class="position-relative col-6">
      <img
        src="./assets/home_picture_1.png"
        alt="teacher_picture"
        class="img-fluid"
      />
      <div
        class="text-bloc position-absolute top-100 start-50 translate-middle"
      >
        <span class="text-name">Damien</span>
        <span class="text-name">Batteur</span>
      </div>
    </div>
    <div class="position-relative col-6">
      <img
        src="./assets/home_picture_3.png"
        alt="teacher_picture"
        class="img-fluid"
      />
      <div
        class="text-bloc position-absolute top-100 start-50 translate-middle"
      >
        <span class="text-name">Roland</span>
        <span class="text-cat">Chef cuisinier</span>
      </div>
    </div>
  </div>
  <div class="row justify-content-center bottom-row-responsive">
    <div class="m-5 position-relative col-6">
      <img
        src="./assets/home_picture_2.png"
        alt="teacher_picture"
        class="img-fluid"
      />
      <div
        class="text-bloc position-absolute top-100 start-50 translate-middle"
      >
        <span class="text-name">Christopher</span>
        <span class="text-cat">Développeur</span>
      </div>
    </div>
  </div>
</div>
