$primary: #0C5051;
$primaryWithTransparancy: #0c50516c;
$hover: #117375;

@import "~bootstrap/dist/css/bootstrap.css";

.custom-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: 475px;
  margin-bottom: 130px;
}
