@import "src/variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";

.custom-container {
  width: 80%;
  margin: 0 auto 130px;
  min-height: calc( 100vh - 416px );
}


@media screen and (max-width: 860px) {
  .custom-container {
    width: 90%;
  }
}
