$primary: #0C5051;
$primaryWithTransparancy: #0c50516c;
$hover: #117375;

@import "~bootstrap/dist/css/bootstrap.css";

.custom-container {
  width: 70%;
  margin: 0 auto 130px;
  min-height: calc( 100vh - 330px );
}

/* 
@media screen and (max-width: 820px) {
  .custom-container {
    min-height: 845px;
    // width: 80%;
  }
}
 */