<div class="custom-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-control">
    <select formControlName="category" class="form-select">
      <option>Choisir une catégorie</option>
      <option *ngFor="let category of categories" value="{{ category.slug }}">{{category.name}}</option>
    </select>
    <input formControlName="title" type="text" class="form-control form-text input-time col" placeholder="titre">

    <div class="d-flex justify-content-between">
      <label for="">Face-à-face</label>
      <input formControlName="irl" type="checkbox" class="form-check" [(ngModel)]="isIrlChecked">
      <label for="">A distance</label>
      <input formControlName="visio" type="checkbox" class="form-check" [(ngModel)]="isVisioChecked">
    </div>

    <textarea formControlName="description" type="text" class="form-control form-text" placeholder="description"></textarea>

    <button class="btn booking-btn col-4 mt-2">Réserver!</button>
  </form>
</div>
