@import "src/variables.scss";

.booking-btn {
  background-color: $primary-theme-color;
  color: $secondary-theme-color;
}

.custom-container {
  margin-top: 150px;
}

.invalid-feedback
{
  display:block;
}
