$primary: #0C5051;
$primaryWithTransparancy: #0c50516c;
$hover: #117375;

.booking-btn {
  background-color: $primary;
  color: white;
}

.custom-container {
  margin-top: 150px;
}

.invalid-feedback
{
  display:block;
}
