<ng-container *ngIf="user;else error404">

  <p>bonjour {{ user.lastname }}</p>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <a class="btn btn-primary" (click)="fileTonFrickBatard('standard',3)">Standard Pack</a>
      </div>
      <div class="col-4">
        <a class="btn btn-primary" (click)="fileTonFrickBatard('smart',10)">Smart Pack</a>
      </div>
      <div class="col-4">
        <a class="btn btn-primary" (click)="fileTonFrickBatard('genius',25)">Genius Pack</a>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #error404>
    <script>
        window.location.href = 'https://skillswap.wip';
  </script>
  ICI METTRE LE LIEN REDIRECTION VERS PAGE D'ACCUEIL
</ng-template>
