<div>
  <form class="d-flex" [formGroup]="loginForm">
    <div class="custom-card">
      <div class="custom-card-header">
        <div class="text-center">
          <p class="sub-title">Inscription à <span class="company-title">SkillSwap</span></p>
        </div>
      </div>
      <div class="custom-card-body">
        <div class="d-grid">
          <div class="row">
            <div class="col-12 col-md-6">
              <label for="lastname" class="form-label">Nom :</label>
              <input type="lastname" id="lastname" class="custom-form-control" name="userLastname" formControlName="userLastname">
              <div class="invalid-feedback" *ngIf="lastname.touched && lastname.invalid && lastname.errors">
                <ng-container *ngIf="lastname.errors['required']">Lastname is needed !</ng-container>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <label for="firstname" class="form-label">Prénom :</label>
              <input type="firstname" id="firstname" class="custom-form-control" name="userFirstname" formControlName="userFirstname">
              <div class="invalid-feedback" *ngIf="firstname.touched && firstname.invalid && firstname.errors">
                <ng-container *ngIf="firstname.errors['required']">Firstname is needed !</ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <label for="email" class="form-label">Email :</label>
              <input type="email" id="email" class="custom-form-control" name="userEmail" formControlName="userEmail">
              <div class="invalid-feedback" *ngIf="email.touched && email.invalid && email.errors">
                <ng-container *ngIf="email.errors['required']">eMail is needed !</ng-container>
                <ng-container *ngIf="email.errors['email']">Bad email</ng-container>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <label for="password" class="form-label">Mot de passe :</label>
              <input type="password" id="password" class="custom-form-control" name="userPassword" formControlName="userPassword">
              <div class="invalid-feedback" *ngIf="password.touched && password.invalid && password.errors">
                <ng-container *ngIf="password.errors['required']">Password is needed !<br></ng-container>
                <ng-container *ngIf="password.errors['minLength']">Au moins 8 caractères.<br></ng-container>
                <ng-container *ngIf="password.errors['uppercase']">Au moins une majuscule.<br></ng-container>
                <ng-container *ngIf="password.errors['lowercase']">Au moins une minuscule.<br></ng-container>
                <ng-container *ngIf="password.errors['digits']">Au moins un chiffre.<br></ng-container>
                <ng-container *ngIf="password.errors['special']">Au moins un caractère spécial.</ng-container>
                <ng-container *ngIf="password.errors['whitespace']">Les espaces ne sont pas autorisés.</ng-container>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <label for="passTest" class="form-label">Valider mot de passe:</label>
              <input type="password" id="passTest" class="custom-form-control" name="userPassTest" formControlName="userPassTest">
              <div class="invalid-feedback" *ngIf="passTest.touched && passTest.invalid && passTest.errors">
                <ng-container *ngIf="passTest.errors['required']">PassTest is needed !<br></ng-container>
                <ng-container *ngIf="passTest.errors['special']">Les mots de passe ne correspondent pas</ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-card-footer text-center">
        <button class="btn custom-button mt-3 mb-3" type="submit" (click)="signUp()"
          [disabled]="loginForm.invalid">S'inscrire</button>
        <a routerLink="/signin">Déjà inscrit ?</a>
      </div>
    </div>
  </form>
</div>
