@import "src/variables.scss";

.invalid-feedback
{
  display:block;
}

.custom-button {
  background-color: $primary-theme-color;
  color: $secondary-theme-color;
  padding: $button-padding;
  border-radius: $button-radius;
}
