<ng-container *ngIf="user">
  <form [formGroup]="updateUserForm">
    <div class="row">
      <label for="firstname" class="col"><strong>Prénom :</strong></label>
      <input
        formControlName="firstname"
        type="text"
        class="form-control form-text col"
        [(ngModel)]="user.firstname"
      />
    </div>

    <div class="row">
      <label for="lastname" class="col"><strong>Nom :</strong></label>
      <input
        formControlName="lastname"
        type="text"
        class="form-control form-text col"
        [(ngModel)]="user.lastname"
      />
    </div>

    <div class="row">
      <label for="email" class="col"><strong>Email :</strong></label>
      <input
        formControlName="email"
        type="email"
        class="form-control form-text col"
        [(ngModel)]="user.email"
      />
    </div>

    <div class="row">
      <label for="phone" class="col"><strong>Téléphone :</strong></label>
      <input
        formControlName="phone"
        type="text"
        class="form-control form-text col"
        [(ngModel)]="user.phone"
      />
    </div>

    <div class="row">
      <label for="district" class="col"><strong>Département :</strong></label>
      <input
        formControlName="district"
        type="number"
        class="form-control form-text col"
        [(ngModel)]="user.district"
      />
    </div>

    <div class="row">
      <label for="city" class="col"><strong>Ville :</strong></label>
      <input
        formControlName="city"
        type="text"
        class="form-control form-text col"
        [(ngModel)]="user.city"
      />
    </div>

    <div class="row">
      <label for="description" class="col"><strong>Description :</strong></label>
      <textarea
        formControlName="description"
        class="form-control form-text col"
        [(ngModel)]="user.description"
        rows="5"
      ></textarea>
    </div>

    <div class="row">
      <label for="currentPassword" class="col">Mot de passe actuel :</label>
      <input formControlName="currentPassword" type="password" class="form-control form-text col" placeholder="Mot de passe requis">
    </div>
    <div class="invalid-feedback" *ngIf="currentPassword.touched && currentPassword.invalid && currentPassword.errors">
      <ng-container *ngIf="currentPassword.errors['required']">Le mot de passe est obligatoire pour valider les changements<br></ng-container>
    </div>

    <button
    type="submit"
    (click)="updateUser()"
    class="btn col-4 mt-2 float-right custom-button"
    [disabled]="updateUserForm.invalid"
  >
    Mettre à jour
  </button>
  </form>
</ng-container>
