@import "src/variables.scss";


.input-date {
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid $primary-theme-color;
  border-right: none;
  height: 60px;
}

.input-time {
  border-radius: 0;
  border: 2px solid $primary-theme-color;
  border-left: none;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0), 0 0 8px rgba(255, 255, 255, 0);
}

.booking-btn {
  background-color: $primary-theme-color;
  border: none;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
