<div>
  <form class="d-flex" [formGroup]="loginForm">

    <div class="custom-card">

      <div class="custom-card-header">
        <div class="text-center">
          <p class="sub-title">Bienvenue sur <span class="company-title">SkillSwap</span></p>
        </div>
      </div>

      <div class="custom-card-body">

        <div>
          <label for="email" class="form-label">Email :</label>
          <input type="email" id="email" class="custom-form-control" name="userEmail" formControlName="userEmail" placeholder="admin@admin.com">
        </div>

        <div>
          <label for="password" class="form-label">Mot de passe :</label>
          <input type="password" id="password" class="custom-form-control" name="userPassword" formControlName="userPassword" placeholder="Password.0">
        </div>

      </div>

      <div class="custom-card-footer text-center">
        <button class="btn custom-button mt-3 mb-3" type="submit" (click)="signIn()" [disabled]="loginForm.invalid">Connexion</button>
        <a routerLink="/signup">Pas encore inscrit ?</a>
      </div>

    </div>
  </form>
</div>
